<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebsiteSlutuppgift</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
</head>

<body class="wrapper">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm Background-Color">  
            <div class="container">
                <div class="d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial.cshtml" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <img class="animatedgif" src="https://media.giphy.com/media/4oRJQxUk9mDv2/giphy.gif" alt="A Bowling GIF.">
                        </li>
                        <li class="nav-item link-background">
                            <a class="nav-link text-danger middle" asp-area="" asp-controller="Bookings" asp-action="Index">Book your lane here!</a>
                        </li>
                        <li class="nav-item link-background">
                            <a class="nav-link text-danger middle" asp-area="" asp-controller="BookingTables" asp-action="Index">Book your table here!</a>
                        </li>
                        <li class="nav-item link-background">
                            <a class="nav-link text-danger middle" asp-area="" asp-controller="Home" asp-action="Index">Startpage</a>
                        </li>
                        <li class="nav-item link-background">
                            <a class="nav-link text-danger middle" asp-area="" asp-controller="Home" asp-action="Privacy">Contact</a>
                        </li>
                        <li class="nav-item link-background">
                            <a class="nav-link text-danger middle" asp-area="" asp-controller="Histories" asp-action="Index">The history of bowling</a> <!--Histories måste vara samma namn som viewmappen. Detta för att datorn ska hitta var den ska leta.-->
                        </li>
                        <li class="nav-item link-background">
                            <a class="nav-link text-danger middle" asp-area="" asp-controller="Rules" asp-action="Index">Learn how to bowl</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="footer Background-Color">
        <div class="container">
            &copy; 2020 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Contact</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
